body {
      font-family: Arial, sans-serif;
      color: #333;
      padding: 30px;
      max-width: 600px;
      margin: auto;
    ;
    }
    h1, h2 {
      color: #6a1b9a;
    }
    img {
      width: 50%;
      display: block;
      margin: auto;
    
    }
    section {
      background-color: #ffffff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      margin-bottom: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    input[type="text"],
    input[type="email"] {
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
    input[type="submit"] {
      background-color: #6a1b9a;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 6px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #8e24aa;
    }